* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    height: 50vh;
    aspect-ratio: 1/1;
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.columnA {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
}

.columnB {
    grid-column: 2 / 3;
    grid-row: 1 / span 3;
}

.columnC {
    grid-column: 3 / 4;
    grid-row: 1 / span 3;
}

.columnA, .columnB {
    border-right: 2px solid black;
}

.row1, .row2 {
    border-bottom: 2px solid black;
}

.row1 {
    grid-area: 1 / 1 / 2 / span 3; 
}

.row2 {
    grid-area: 2 / 1 / 3 / span 3;
}

.row3 {
    grid-area: 3 / 1 / 4 /span 3;
}