*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --unit-size: 9rem;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    height: 370px;
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.restart {
    margin: 3rem;
    justify-content: space-evenly;
}

.board-unit {
    height: var(--unit-size);
    width: var(--unit-size);
    position: relative;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-unit.x,
.board-unit.circle {
    cursor:not-allowed;
}

.board-unit:nth-child(1),
.board-unit:nth-child(4),
.board-unit:nth-child(7) {
    border-left: none;
}

.board-unit:nth-child(1),
.board-unit:nth-child(2),
.board-unit:nth-child(3) {
    border-top: none;
}

.board-unit:nth-child(3),
.board-unit:nth-child(6),
.board-unit:nth-child(9) {
    border-right: none;
}

.board-unit:nth-child(7),
.board-unit:nth-child(8),
.board-unit:nth-child(9) {
    border-bottom: none;
}

#restart-btn {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid lightpink;
    text-decoration: none;
    text-transform: uppercase;
    color: lightpink;
    text-align: center;
    transition: all 0.15s;
}
#restart-btn:hover {
    color: blue;
    border-color: blue;
}

.board-unit.x::after {
    font-family: 'Courier New', Courier, monospace;
    content: 'X';
    font-size: 3rem;
}

.board-unit.board-unit.circle::after {
    font-family: 'Courier New', Courier, monospace;
    content: 'O';
    font-size: 3rem;
}

.game-container.x .board-unit:not(.x):not(.circle):hover {
    cursor: url(./images/close-thick.png), pointer;
}

.game-container.circle .board-unit:not(.x):not(.circle):hover {
    cursor: url(./images/radiobox-blank.png), pointer;
}

.win, 
.draw {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12rem;
    position: fixed;
    color: lightpink;
    background-color: grey;
    opacity: .7;
    scale: 0;
}

.win.active, 
.draw.active {
    scale: 1;
}