* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    height: 50vh;
    aspect-ratio: 1/1;
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-unit {
    position: relative;
    border: 2px solid black;
    cursor: pointer;
}

.board-unit:nth-child(1),
.board-unit:nth-child(4),
.board-unit:nth-child(7) {
    border-left: none;
}

.board-unit:nth-child(1),
.board-unit:nth-child(2),
.board-unit:nth-child(3) {
    border-top: none;
}

.board-unit:nth-child(3),
.board-unit:nth-child(6),
.board-unit:nth-child(9) {
    border-right: none;
}

.board-unit:nth-child(7),
.board-unit:nth-child(8),
.board-unit:nth-child(9) {
    border-bottom: none;
}


